<section class="section-portfolio section" id="portfolio-section">
    <div class="container">
      <h2 class="common-heading">Why Choose Us</h2>
      <p>
        Our team's deep tech knowledge and expertise in empathetic user experience bring the best of both worlds to our customers business and their users.
      </p>
    </div>

    <div class="p-btns">
      <button class="btn p-btn " data-btn-num="1" >Websites</button>
      <button class="btn p-btn " data-btn-num="2" >Software </button>
      <button class="btn p-btn " data-btn-num="3" >Custom Application</button>
    </div>
    
    <div class="container grid grid-three-col portfolio-images">
      <div class="img-ovelay p-btn--1" >
        <img src="<%= base_link %>/images/folio/1.jpg" loading="lazy" alt="portfolio images "  />
        <div class="overlay">
          <a href="http://charcounter.thapaonlineclass.com/" target="_blank"  class="common-heading">Project 1</a>
        </div>
      </div>

      <div class="img-ovelay p-btn--3">
        <img src="<%= base_link %>/images/folio/4.jpg" loading="lazy" alt="portfolio images " />
        <div class="overlay">
           <a href="https://www.linkedin.com/company/softdata24/about/?viewAsMember=true" target="_blank"  class="common-heading">Project 2</a>
        </div>
      </div>

      <div class="img-ovelay p-btn--1">
        <img src="<%= base_link %>/images/folio/3.jpg" loading="lazy" alt="portfolio images "  />
        <div class="overlay">
           <a href="" target="_blank"  class="common-heading">Project 3</a>
        </div>
      </div>
      <div class="img-ovelay p-btn--1 p-btn--2">
        <img src="<%= base_link %>/images/folio/4.jpg" loading="lazy" alt="portfolio images "  />
        <div class="overlay">
           <a href="" target="_blank"  class="common-heading">Project 4</a>
        </div>
      </div>
      <div class="img-ovelay p-btn--2">
        <img src="<%= base_link %>/images/folio/5.jpg" loading="lazy" alt="portfolio images "  />
        <div class="overlay">
           <a href="" target="_blank"  class="common-heading">Project 5</a>
        </div>
      </div>
      <div class="img-ovelay p-btn--1">
        <img src="<%= base_link %>/images/folio/1.jpg" loading="lazy" alt="portfolio images "  />
        <div class="overlay">
           <a href="" target="_blank"  class="common-heading">Project 6</a>
        </div>
      </div>
    </div>
  </section>