<section class="section section-testimonial ">
    <div class="container">
      <h2 class="common-heading">Happy Client works</h2>
    </div>
      <!-- Slider main container -->
      <!-- Swiper -->
<div class="swiper mySwiper container">
  <div class="swiper-wrapper">
    <!-- <% for (var i =1; i <=10;  i++ ) { %>
      <%- include('testimonial_template') %>
    <% } %> -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img loading="lazy" src="<%= base_link %>/images/clients/a.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img loading="lazy" src="<%= base_link %>/images/clients/b.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img loading="lazy" src="<%= base_link %>/images/clients/c.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img loading="lazy" src="<%= base_link %>/images/clients/d.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img src="<%= base_link %>/images/clients/e.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img src="<%= base_link %>/images/clients/f.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img src="<%= base_link %>/images/clients/g.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>

    <!-- slide end  -->
    <div class="swiper-slide">
    
      <div class="swiper-client-msg">
        <p>Calvin: You know sometimes when I'm talking, my words can't keep up with my thoughts... I wonder why we think faster than we speak. Hobbes: Probably so we can think twice.</p>
      </div>
      <div class="swiper-client-data grid grid-two-col ">
        <figure>
        <img src="<%= base_link %>/images/clients/h.jpg" alt="">
        </figure>
        <div class="client-data-details">
          <p>SoftData24</p>
          <p>Software Developer</p>
        </div>
      </div>
    </div>
    <!-- slide end  -->
  </div>
  <div class="swiper-pagination"></div>
</div>
    </div>
</section>